/*
body {
background: #000000;
background: -webkit-linear-gradient(to right, #434343, #000000);
background: linear-gradient(to right, #434343, #000000);
}
*/

.bg-white {
    background-color: white;
}

#descripcion {
    resize: none;
}

.centrado {
    text-align: center;
    vertical-align: middle;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.nav-tabs .nav-link.active {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 20px !important;
    background-color: red !important;
    color: white !important;
    border: none !important;
    padding: 1rem 3rem 1rem 3rem !important;
    border-radius: 0 !important;
    margin-right: 0.2rem !important;
}

.nav-tabs .nav-link {
    font-family: 'Montserrat', sans-serif!important;
    font-size: 20px!important;
    background-color: rgb(209, 209, 209)!important;
    color: white!important;
    padding: 1rem 3rem 1rem 3rem!important;
    border-radius: 0!important;
    margin-right: 0.2rem!important;
}

.nav-tabs .nav-link:hover {
    background-color: rgb(50, 50, 50)!important;
}

.twitter {
    background-color: black;
    padding: 0.5em;
    border-radius: 100%;
}

.facebook {
    background-color: black;
    padding: 0.5em;
    border-radius: 100%;
}

.instagram {
    background-color: black;
    padding: 0.5em;
    border-radius: 100%;
}

.youtube {
    background-color: black;
    padding: 0.5em;
    border-radius: 100%;
}

.navbar-brand {
    margin-top: 1em;
}

#iconoemail {
    margin-left: 2em;
}

#nota {
    font-size: 30px;
}

#cajanotas {
    border: solid;
    margin: 0em 0em 1em 0em;
}

#botones_notas:hover {
    background-color: red;
}

#texto_año {
    margin-right: 1em;
}

#boton_año:hover {
    background-color: red;
}

#estilo_body {
    opacity: 0.2;
}

#logo_cole_footer {
    margin-bottom: 1em;
}

#logo_head {
    margin-bottom: 1em;
}

#footer {
    padding: 2em 0em 2em 0em;
    background-color: rgb(244, 244, 244);
    /* position: fixed;
    bottom: 0;
    width: 100%; */
}

#footer_link {
    color: black;
}

#footer_link:hover {
    color: red;
}

#button_enviar {
    padding: 0.3rem;
    width: 600px;
    max-width: 100%;
    background-color: black;
    color: white;
}

#button_enviar:hover {
    padding: 0.3rem;
    width: 600px;
    max-width: 100%;
    background-color: red;
    color: white;
}

.titulo_proyecto {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.nota_proyecto {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.boton_submit {
    width: 600px;
    max-width: 100%;
}

.boton_submit:hover {
    background-color: red;
    color: white;
}

.boton_formulario:hover {
    background-color: black;
    color: white;
}