<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colegio Jaime Bonilla</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- Custom CSS -->
    <<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/content/login.css">
        <link rel="stylesheet" href="../static/content/main.css">
        <link rel="stylesheet" href="../static/content/interface.css">
        <link rel="stylesheet" href="../static/content/index.css">
        <link href="../static/content/test2.css" rel="stylesheet">

        <!-- Llamado de fuente google fonts -->
        <!-- Montserrat 700 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
        <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


</head>

<body class="d-flex flex-column min-vh-100">


    <section id="topbar" class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i id="iconomaps" class="bi bi-pin-map d-flex align-items-center">Carrera 14L # 68B 20 sur, Bogotá
                    Colombia</a></i>
                <i id="iconoemail" class="bi bi-envelope d-flex align-items-center">contacto@colegiojab.edu.co<a
                        href="https://www.google.com/maps/place/Colegio+psicopedagogico+monse%C3%B1or+jaime+Alberto+bonilla+nieto/@4.6129979,-74.1334901,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3f9f1b089ae055:0xcf3ee8103acec297!8m2!3d4.6129831!4d-74.1290166"></a></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/colegiojaimebonilla" class="facebook"><i
                        class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="youtube"><i class="bi bi-youtube"></i></i></a>
            </div>
        </div>
    </section>


    <nav class="navbar bg-light">
        <div class="container">
            <div class="row mb-3">
                <a id="logo_head" class="navbar-brand" href="#">
                    <img src="../static/images/logocolegio.png" alt="Bootstrap" width="250" height="50">
                </a>
            </div>
            <div class="col-1"><a href="#">Institucion</a></div>
            <div class="col-1"><a href="#">Admisiones</a></div>
            <div class="col-1"><a href="#">Servicios</a></div>
            <div class="col-1"><a href="http://localhost:8000/login">Ingreso</a></div>
        </div>
    </nav>
    <div class=banner>
        <aside class="responsive-banner">
            <span class="circle-a"></span>
            <span class="circle-b"></span>
            <img src="../static/images/isadabandera.jpg" alt="Izada de bandera,grado 11A" class="img-fluid" width="100%"
                height="300" />
            <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <strong>Izada de bandera,grado 11A</strong>
            </div>
    </div>

    <div class="container">
        <article class="col-4">
            <!-- <div class="columna1"> -->
            <img src="../static/images/75258505_2784791681553860_7602656094665572352_n.jpg" title="admisiones"
                class="article-img">
            <p><strong>Consulta</strong> <a>Calificaciones</a></p>
            <!-- </div> -->
        </article>

        <article class="col-4">
            <!-- <div class="columna2"> -->
            <img src="../static/images/89895636_3095470820485943_7812007459395993600_n.jpg" alt="" title=""
                class="article-img">
            <p><strong>Consulta</strong> <a>Histórico</a></p>
            <!-- </div> -->
        </article>

        <article class="col-4">
            <!-- <div class="columna3"> -->
            <img src="../static/images/74160233_2783489068350788_1593305207503060992_n.jpg" alt="" class="article-img">
            <p><strong>Matricula</strong> <a>Estudiantes</a></p>
            <!-- </div> -->
        </article>
    </div>

    <footer id="footer" class="mt-auto">
        <div class="container">
            <div class="row gy-4 ">
                <div class="col-lg-5 col-md-12 footer-info">
                    <img id="logo_cole_footer" src="../static/images/logocolegio.png" alt="logo_colegio" height=100em>
                    <p class="justify-content-center">La disciplina es el mejor camino para cumplir tus metas.
                    </p>

                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Estudiantes</h4>
                    <ul>
                        <li><a id="footer_link" href="#">Consultar Calificaciones</a></li>
                        <li><a id="footer_link" href="#">Consultar histórico</a></li>
                        <li><a id="footer_link" href="#">Auto matrícula</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Docentes</h4>
                    <ul>
                        <li><a id="footer_link" href="#">Cargar calificaciones</a></li>
                        <li><a id="footer_link" href="#">Editar calificaciones</a></li>
                        <li><a id="footer_link" href="#">Borrar calificaciones</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contacto</h4>
                    <p>
                        Carrera 14L #68B 20 sur <br>
                        Bogotá Colombia<br><br>
                        <strong>PBX:</strong> 601 555 5555<br>
                        <strong>Email:</strong> contacto@colegiojab.edu.co<br>
                    </p>

                </div>

            </div>
        </div>
    </footer>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>


</body>

</html>