<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/content/login.css">
    <link rel="stylesheet" href="../static/content/main.css">
    <link rel="stylesheet" href="../static/content/interface.css">
    <link href="../static/content/test2.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
</head>

<body>

    <section id="topbar" class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i id="iconomaps" class="bi bi-pin-map d-flex align-items-center">Carrera 14L # 68B 20 sur, Bogotá
                    Colombia</a></i>
                <i id="iconoemail" class="bi bi-envelope d-flex align-items-center">contacto@colegiojab.edu.co<a
                        href="https://www.google.com/maps/place/Colegio+psicopedagogico+monse%C3%B1or+jaime+Alberto+bonilla+nieto/@4.6129979,-74.1334901,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3f9f1b089ae055:0xcf3ee8103acec297!8m2!3d4.6129831!4d-74.1290166"></a></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/colegiojaimebonilla" class="facebook"><i
                        class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="youtube"><i class="bi bi-youtube"></i></i></a>
            </div>
        </div>
    </section>

    <nav class="navbar bg-light">
        <div class="container">
            <a id="logo_head" class="navbar-brand" href="#">
                <img src="../static/images/logocolegio.png" alt="Bootstrap" width="400">
            </a>
        </div>
    </nav>

    <form method="post" action="http://localhost:8000/api/login" class="form-container">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" class="form-control"
                placeholder="Introduzca su correo electrónico" required
                oninvalid="this.setCustomValidity('Este campo debe contener un @ y un dominio')"
                oninput="this.setCustomValidity('')" title="Este campo debe contener un @ y un dominio">
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" class="form-control"
                placeholder="Introduzca su contraseña" required
                oninvalid="this.setCustomValidity('Debe introducir una contraseña')"
                oninput="this.setCustomValidity('')" title="Debe introducir una contraseña">
        </div>
        <div class="alert alert-danger text-center" role="alert" id="alert-credentials">
            Las credenciales son incorrectas
        </div>
        <div class="form-group btn-container">
            <button>Ingresar</button>
        </div>
    </form>
    <!-- <div>
        <img src="../static/images/logo-colegio.jpg" alt="school-logo" id="img-bkgr">
    </div> -->
    <footer id="footer-login">
        <div class="container">
            <div class="row gy-4 ">
                <div class="col-lg-5 col-md-12 footer-info">
                    <img id="logo_cole_footer" src="../static/images/logocolegio.png" alt="logo_colegio" height=100em>
                    <p class="justify-content-center">La disciplina es el mejor camino para cumplir tus metas.
                    </p>

                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Estudiantes</h4>
                    <ul>
                        <li><a id="footer_link" href="#">Consultar Calificaciones</a></li>
                        <li><a id="footer_link" href="#">Consultar histórico</a></li>
                        <li><a id="footer_link" href="#">Auto matrícula</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Docentes</h4>
                    <ul>
                        <li><a id="footer_link" href="#">Cargar calificaciones</a></li>
                        <li><a id="footer_link" href="#">Editar calificaciones</a></li>
                        <li><a id="footer_link" href="#">Borrar calificaciones</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contacto</h4>
                    <p>
                        Carrera 14L #68B 20 sur <br>
                        Bogotá Colombia<br><br>
                        <strong>PBX:</strong> 601 555 5555<br>
                        <strong>Email:</strong> contacto@colegiojab.edu.co<br>
                    </p>

                </div>

            </div>
        </div>
    </footer>
</body>

<script>
    const params = new Proxy(new URLSearchParams(window.location.search), {
        get: (searchParams, prop) => searchParams.get(prop),
    });
    if (params.valid) {
        document.getElementById("alert-credentials").style.display = "inline-block";
        document.getElementById("alert-credentials").style.width = "100%";
        setTimeout(() => {
            document.getElementById("alert-credentials").style.display = "none";
        }, 5000);
    }

</script>



</html>